<footer class="footer">
    <div class="container">
        <div class="col-25">
            <div class="subtitle">Follow us</div>
            <div class="socials">
                <div class="fb-icon">b</div>
                <div class="some-icon">j</div>
            </div>
            <div class="logo">
                <a href="/">
                    <img src="assets/img/logo-footer.svg" alt="Qalato logo">
                </a>
            </div>
            <div class="copyright">
                © 2017 Qalato Property Market. <br>
                All Rights Reserved.
            </div>
        </div>
        <div class="col-25">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">About Qalato</a></li>
                <li><a href="#">Latest news</a></li>
                <li><a href="#">Contacts us</a></li>
                <li><a href="#">Advetise with us</a></li>
            </ul>
        </div>
        <div class="col-25">
            <ul>
                <li><a href="#">Find property</a></li>
                <li><a href="#">List your objects</a></li>
                <li><a href="#">Agents</a></li>
                <li><a href="#">My account</a></li>
            </ul>
        </div>
        <div class="col-25">
            <ul>
                <li><a href="#">Terms of service</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy policy</a></li>
            </ul>
        </div>
    </div>
</footer>
