<header class="header">
    <div class="top-b">
        <div class="container">
            <div class="col-25"></div>
            <div class="header-right-b">
                <ul class="lang-switcher list-inline">
                    <li class="active"><a href="#">English</a></li>
                    <li><a href="#">کوردی </a></li>
                    <li><a href="#">العربية  </a></li>
                </ul>
                <div class="user-actions-b">
                    <!-- for non-logged -->
                    <!--<a href="#" class="login-link">Register</a>
                    <a href="#" class="login-link">Log in</a>-->

                    <!-- for logged -->

                    <a href="#" class="notify-b">
                        <img src="assets/img/icon-notify.svg" alt="">
                        <span class="number">37</span>
                    </a>

                    <div class="user-menu__w">
                        <div class="user-info" id="j-user-info">
                            <img src="assets/img/temp/ava.png" alt="user avatar">
                            <div class="name">Ahmad ibn Nurgali Zadraka Ulkuida Akbara Halaha Zahara Ahmed ibn Ghk al Friazini</div>
                        </div>
                        <div class="user-menu" id="j-user-menu">
                            <nav role="navigation">
                                <ul>
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">My listings</a></li>
                                    <li><a href="#">Create classified</a></li>
                                    <li><a href="#">Some more menu item</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container middle-b">
        <div class="col-25">
            <a href="/" class="logo">
                <img src="assets/img/logo.svg" alt="Qalato logo">
            </a>
        </div>
        <div class="header-right-b">
            <nav role="navigation">
                <ul class="list-inline">
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="#" class="active">How it works</a></li>
                    <li><a href="#" class="active">Agents</a></li>
                    <li><a href="#" class="active">News</a></li>
                </ul>
            </nav>
            <div class="search-b">
                <a href="#" class="search">
                    <img src="assets/img/icon-search.svg" alt="">
                    <span>Find property</span>
                </a>
                <div class="btn__w">
                    <a href="#" class="btn-orange">List your property</a>
                </div>
            </div>
        </div>
    </div>
</header>