doctype html
html(lang="en")
    head
        title Some title
        meta(content="some description", name="description")
        include layout/_head.pug
    body
        include layout/_header.pug
        include layout/_footer.pug
        script(src="assets/js/main.min.js" defer)