<div class="popular-searches">
    <div class="container">
        <div class="icon-cat--happy"></div>
        <div class="title">Popular searches</div>
        <div class="popular-searches__w">
            <!-- Not sure 'bout the structure. It could be col-50 with max-height of ul or like I did below -->
            <div class="col-25">
                <div class="subtitle">For sale</div>
                <ul class="bold">
                    <li><a href="#">Apartments in Sulaymaniyah</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Sulaymaniyah</a></li>
                </ul>
            </div>
            <div class="col-25">
                <ul>
                    <li><a href="#">Commercial properties in Erbil</a></li>
                    <li><a href="#">Commercial properties in Sulaymaniyah</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                </ul>
            </div>
            <div class="col-25">
                <div class="subtitle">For rent</div>
                <ul class="bold">
                    <li><a href="#">Commercial properties  in Sulaymaniyah</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Sulaymaniyah</a></li>
                </ul>
            </div>
            <div class="col-25">
                <ul>
                    <li><a href="#">Commercial properties in Erbil</a></li>
                    <li><a href="#">Commercial properties in Sulaymaniyah</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                    <li><a href="#">Apartments in Erbil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>